.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  filter: brightness(90%);
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    //fill entire parent while still maintaining aaspect ratio
    object-fit: cover;
  }
}